In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv('/home/akasmajhi/data/NSE/bhavcopy/cm13DEC2023bhav.csv')
df2 = pd.read_csv('/home/akasmajhi/data/NSE/bhavcopy/cm12DEC2023bhav.csv')

In [5]:
print(f"DF1 length: {len(df1)} DF2 Length: {len(df2)}")

DF1 length: 2602 DF2 Length: 2609

In [7]:
df = df1._append(df2)

In [9]:
len(df)

5211

In [11]:
df[df["SYMBOL"] == 'INFY']

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
1097,INFY,EQ,1476.0,1476.05,1433.15,1449.00,1449.95,1476.05,8549258,1.236908e+10,13-DEC-2023,337694,INE009A01021,NaN
1108,INFY,EQ,1477.5,1490.00,1467.65,1476.05,1476.00,1488.50,6103494,9.018001e+09,12-DEC-2023,184795,INE009A01021,NaN